td.monthtag{
    background-color: #777;
    text-align: center;
}

h2.statisticsentry-header{
    margin-top: 15pt;
}

.neos.neos-module table.statisticsentry-table td{
    padding: 2pt;
    height: auto;
    line-height: 15pt;
}

.neos.neos-module table.statisticsentry-table tr:nth-child(even){
    background-color: #333;
}


th.statisticsentry-description{
    width: 150pt;
}

td.statisticsentry-number{
    text-align: right;
}

